/* CSS Document */

.s9a {
	color:#333;
	font-size: 63%;
	line-height: 138%;
	}

.s9b {
	color:#333;
	font-size: 63%;
	}

.s9c {
	color:#996600;
	font-size: 63%;
	line-height: 138%;
	}

.s9bBold {
	color:#333;
	font-size: 63%;
	line-height: 138%;
	font-weight:bold;
	}

.s12a {
	color:#333;
	font-size: 14px;
	line-height: 138%;
	}

.s12b {
	color:#333;
	font-size: 78%;
	}

.s12bBold {
	color:#333;
	font-size: 78%;
	line-height: 138%;
	font-weight:bold;
	}

.s14a {
	color:#333;
	font-size: 14px;
	
	line-height: 138%;
	}
.s13a {
	color:#333;
	font-size: 14px;
	 text-indent: 28px;
	line-height: 138%;
	}

.s14b {
	color:#333;
	font-size: 88%;
	}

.s15a {
	color:#333;
	font-size: 98%;
	line-height: 138%;
	}

.s15b {
	color:#333;
	font-size: 98%;
	}

.s16a {
	color:#333;
	font-size: 108%;
	line-height: 138%;
	}

.s16b {
	color:#333;
	font-size: 108%;
	}






