/* CSS Document */
/* CSS Document */

#header
{
	background-image:url(http://image.wx-jyy.com/image/common/header/back.gif);
	background-repeat:repeat-x;
	height:66px;
}

#header h1
{
	float:left;
	padding:5px 0px 0px 15px;
}

#header h1 a
{
	font-size:14px;
	text-indent:-9999px;
	display:block;
	width:375px;
	height:45px;
	background-image:url(http://image.wx-jyy.com/image/common/header/1.png);
	background-repeat:no-repeat;
}

#header h1.jp a
{
	font-size:14px;
	text-indent:-9999px;
	display:block;
	width:375px;
	height:45px;
	background-image:url(http://image.wx-jyy.com/image/common/header/logo_jp.png);
	background-repeat:no-repeat;
}

#header ul
{
	float:right;
	list-style-type:none;
	padding:24px 0px 0px 0px;
}

#header li
{
	float:left;
}

#header li a
{
	color:#45aae3;
	display:block;
	float:left;
	width:70px;
	height:20px;
	font-size:14px;
	font-weight: bold;
	text-decoration: none;
	background-repeat:no-repeat;
}

#header li a:hover
{
	background-position:-90px 0px;
	color:#84d1fd;
}
